body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(39, 199, 171) 0%,
    rgb(70, 143, 197) 90%
  );
  animation: gradient 10s ease infinite;
  font-family: "Oswald", sans-serif;
}
.current-weather.city {
  display: flex;
  justify-content: space-around;
  font-size: 200px;
}
main {
  padding: 40px;
  margin: 100px 400px 100px 400px;
  border-radius: 10px;
  border: #ff6104;
}

form {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.current-weather .humid {
  color: #f65282;
}
.current-weather .wind {
  color: #f65282;
}
.search {
  background: #e0c6cb;
  border-radius: 5px;
  text-align: center;
  color: #b0eed1;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #885df1;
  box-shadow: 5px 5px 5px;
}

.enter {
  align-items: center;
  color: #fff;
  border-radius: 5px;
  background: #d4d7da;
}
.search:hover {
  cursor: pointer;
  background: #885df1;
  color: #ffffff;
}

.temp {
  position: relative;
  top: -20px;
  left: 500px;
  font-size: 100%;
}
footer {
  text-align: center;
}
