body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(243, 94, 131) 17.1%,
    rgb(236, 212, 80) 89.7%
  );
  animation: gradient 10s ease infinite;
  font-family: "Oswald", sans-serif;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.current-weather.city {
  text-align: center;
  font-size: 70px;
  color: #f70776;
}
main {
  overflow: visible;
  background: rgba(228, 228, 228, 0.55);
  border-radius: 10px;
  box-shadow: 5px 50px 40px rgba(164, 168, 171, 0.418);
  max-width: 500px;
  padding: 50px 20px 100px 20px;
  display: block;
  margin: auto;
  backdrop-filter: blur(30px);
}

.form {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.current-weather .humid {
  color: #f65282;
  font-size: 20px;
}
.current-weather .wind {
  color: #f65282;
  font-size: 20px;
}
.search {
  background: #e0c6cb;
  border-radius: 5px;
  text-align: center;
  color: #154aa1;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ffaebd;
  box-shadow: 5px 5px 5px;
}

.enter {
  text-align: center;
  color: #000;
  border-radius: 5px;
  background: #d4d7da;
  border: none;
  float: inline-end;
  width: 70%;
}
.search:hover {
  cursor: pointer;
  background: #d4d7da;
  color: #ffffff;
}
.icon {
  text-align: center;
  margin-top: -60px;
  margin-right: 210px;
  font-size: 40px;
}
.num {
  text-align: center;
  color: #f70776;
  font-size: 80px;
}
.unit {
  float: inline-end;
  margin-top: -80px;
  margin-right: 100px;
  font-size: 20px;
  color: #f70776;
}
footer {
  text-align: center;
}

.data {
  text-align: left;
  padding: 40px;
  color: #76a99c;
}
a {
  color: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.weather-forecast {
  margin-top: 15px;
  color: white;
  display: flex;
  text-align: center;
  margin-left: 40px;
  justify-content: center;
}

.forecast-day {
  text-align: left;
}

.forecast-date {
  margin-top: 15px;
  font-size: 17px;
  margin-bottom: -10px;
  margin-left: 10px;
}

.forecast-icon {
  margin-top: 20px;
  margin-right: 40px;
}
.weather-temperatures {
  display: flex;
  margin-left: 10px;
}

.forecast-max {
  color: #76a99c;
}
.forecast-min {
  margin-left: 5px;
  opacity: 0.7;
}
