body {
        background: #f9f7fe;
        font-family: "Courier New", Courier, monospace;
      }
      .city {
        display: flex;
        justify-content: space-around;
      }
      main {
        background: #fff;
        padding: 40px;

        margin: 100px 400px 100px 400px;
        border-radius: 10px;
      }

      form {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
      }
      .current-weather .humid {
        color: #f65282;
      }
      .search {
        background: #885df1;
        color: #fff;
        border-radius: 5px;
      }
      .enter {
        background: #f9f7fe;
        border-radius: 5px;
      }
      .temp {
        position: relative;
        top: -20px;
        left: 500px;
      }